
/* CSS for navbar */

nav {
    padding: 0!important;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0!important;
}

.highlight {
    color: rgba(255,255,255,1) !important;
}

/* CSS for flag destination picker */
#flags {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}
.flags {
    object-fit: cover;
    height: 3em;
    width: 3em;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

#reise{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    max-width: 50%!important;
    width: 50%!important;
}

.reise {
    width: 200px;
}

#pris {
    text-align: right;
    max-width: 50%!important;
    width: 50%!important;
}

.trykkemus{
    cursor: pointer;
}

.flag-sm {
    display: none;
}

/* CSS for information about journey  */

.boat {
    height: 10em;
    margin-right: 1em;
}

/* CSS for table with details of travel */

.td td {
    width: 50%!important;
}

/* General CSS for positioning and flex */

.rad {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.rom {
    padding: .5em;
}

.flex-center {
    height: 100%;
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.referanse-media {
    max-width: 100rem;
    width: 50%;
}

.referanse-media2 {
    max-width: 100%;
    width: 100%;
}

#btn-retur {
    max-width: 250px;
}

/* CSS for space in reisende.html */
#reisende *{
    margin-bottom: 1rem;
}

#input-felter {
    margin-top: 10%;
}

/* Table for small */

.hidden-sm {
    display: none;
}

/* Media queries to make the site more responsive */

@media only screen and (max-width: 1200px){
    
    /* By doing this we can effectively put the second column under the first one */
    
    #flags{
        margin: 0;
    }
    
    .align-under{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: 100% !important;
    }
    .align-under td {
        width: 200% !important;
        max-width: 200% !important;
    }
}

@media only screen and (max-width: 990px) {
    
    /* Minor changes to the inputs */
    
    .media-column {
        flex-direction: column!important;
    }
    .referanse-media2 {
        max-width: 350px;
    }
}

@media only screen and (max-width: 770px){
    
    /*
        Burger (mobile) menu starts aproximately here and requires some more fine adjustments
     */
    
    #flags{
        flex-direction: column;
    }
    .boat{
        width: 100%;
        height: auto!important;
        margin-right: 0;
    }
    #flags p {
        max-width: 100%!important;
    }

    .index-media{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: 100% !important;
    }
    .index-media td {
        width: 200% !important;
        max-width: 200% !important;
    }
    .align-under td {
        width: inherit!important;
    }
    .td td {
        width: inherit!important;
    }
    
    
    /* Removing flags ability to expand with travelling routes */
    
    .flag-lg {
        display: none;
    }
    .flag-sm {
        display: initial;
    }
    
    
}

@media only screen and (max-width: 575px) {
    
    /* Adjustments for bekreftelse.html */
    
    .referanse-media {
        max-width: 350px !important;
        width: 100% !important;
    }
    
    .hidden-lg {
        display: none;
    }
    .hidden-sm {
        display: table;
    }
    .hidden-sm tr {
        width: 100% !important;
    }
    
    
    
}