img {
    
}

nav {
    padding: 0!important;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0!important;
}

.highlight {
    color: rgba(255,255,255,1) !important;
}

.flags {
    height: 2em;
    border-radius: 5px;
    
}
.boat {
    height: 10em;
}
#flags {
    margin: 1rem;
}